*
{
    box-sizing: border-box;
    margin: 0;
}

/* ================================= 
  Base Element Styles
==================================== */

body
{
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
}

a
{
    color: #555;
}

img
{
    padding-top: 55px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p
{
    font-size: 21px;
    font-weight: 300;
    padding-top: 25px;
    width: 95%;
    text-align: center;
}

/* h2:first-child
{
    padding-top: 50px;
} */

h3
{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
}

h2
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 3px;
    font-weight: 400;
}



/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name
{
    font-size: 25px;
    font-weight: 900;
}

.main-nav
{
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px solid red;
}

.main-nav li
{
    list-style: none;
    margin: 7px 0;
    background-color: rgb(255, 255, 255);
}

.name a,
.main-nav a
{
    text-decoration: none;
    letter-spacing: 1.1px;
}

.name a,
.main-nav li a
{
    display: block;
    padding: 8px 0;
}

/* ---- Layout Containers ---- */

.main-header
{
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    background-color: rgb(247, 247, 247);
}


.container
{
    width: 90%;
    margin: auto;
}

.main-footer
{
    background-color: rgb(247, 247, 247); 
    text-align: center;
}

/* ---- Page Elements ---- */

.cover-img
{
    width: 60%;
    
}

.main-header p
{
    font-size: 18px;
    font-weight: 300;
    padding-top: 25px;
}

.calculator-paragraph
{
    padding-bottom: 80px;
}

.contact-header
{
   padding-top: 80px;  
}

.main-footer p
{
    color: rgb(62, 62, 62);
    border: 3px solid red;
}

.phone
{
    font-weight: 700;
}

.email
{
    font-weight: 700;
}

hr
{
    color: #555;
    margin-top: 80px;
}

.bottom-of-page
{
    border: 3px solid red;
}

.student-name
{
    float: left;
    font-weight: 900;
    /* width: 45%; */
    /* display: inline-block; */
    color: rgb(62, 62, 62);
}

.main-footer a
{
    float: right;
    /* width: 45%; */
    text-decoration: none;
    /* display: inline-block; */
}

/* ================================= 
  Media Queries
==================================== */

/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}